<% if @name %>
  <p>Hello <%= @name %>! Welcome to Rock, Paper and Scissors! <a href="/playerchoice">click here to make a choice</a></p>
  
  <img src="/images/Rock-Paper-Scissors.gif">

<% else %>
<form action="/newgame">
<p>Hey! Hey! Hey! What's your name?</p>

<input type="text" name="name">
<input type="submit" class="submit_name" value="submit">
</form>
<% end %>



