<form action="/winner" method="get">
<input type="image" id="rock" src="/images/rock.gif" name="choice" value="rock"   onclick="location.href='/winner'">
<input type="button" id="paper"    name="choice" value="paper"  onclick="location.href='/winner'">
<input type="button" id="scissors" name="choice" value="scissors">
</form>
