<form action="/winner" method="get">
<input type="button" id="rock"     name="choice" value="rock"   onclick="location.href='/winner'">
<input type="button" id="paper"    name="choice" value="paper"  onclick="location.href='/winner'">
<input type="button" id="scissors" name="choice" value="scissors">
<input type="submit" value="submit"
</form>
